'use strict'

const BaseModel = use('MongooseModel')
const { accessibleRecordsPlugin, accessibleFieldsPlugin } = require('@casl/mongoose')


/**
 * @class {{ name }}
 * @param {mongooseConnection} [conn=null]
 * @extends BaseModel
 */
class {{ name }} extends BaseModel {
  {{#exclude_timestamps}}
  /**
   * Exclude created_at and updated_at from the model
   */
  static get timestamps () {
    return false
  }
  {{/exclude_timestamps}}
  {{#include_boot}}
  /**
   * @static
   * @param  {mongooseSchema} { schema }
   */
  static boot ({ schema }) {
    /**
     * Plugin: accessibleRecordsPlugin
     * @memberof {{ name }}.schema
     */
    schema.plugin(accessibleRecordsPlugin);
    /**
     * Plugin: accessibleFieldsPlugin
     * @memberof {{ name }}.schema
     */
    schema.plugin(accessibleFieldsPlugin);
    // Hooks:
    // this.addHook('preSave', () => {})
    // this.addHook('preSave', '{{ name }}Hook.method')
    // Indexes:
    // this.index({}, {background: true})
  }

  {{/include_boot}}
  /**
   * {{ name }}'s schema
   */
  static get schema () {
    return {

    }
  }
  /**
   * {{ name }}'s schemaOptions
   */
  static get schemaOptions () {
    return {
      // strict: false
    }
  }
}

module.exports = (conn = null) => {{ name }}.buildModel('{{ name }}', conn)
